<br /><br />

<h1>Liste des moussaillons</h1>
<table>
  <tr>
    <th>Name</th>
    <th>Age</th>
    <th colspan="3"></th>

  </tr>

  <% @moussaillons.each do |moussaillon| %>
  <tr>
    <td><%= moussaillon.first_name %></td>
    <td><%= moussaillon.age %></td>
    <td><%= link_to("Voir", corsair_path(moussaillon))%></td>
    <td><%= link_to("Edit", edit_corsair_path(moussaillon))%></td>
    <td><%= link_to 'Suppr', corsair_path(moussaillon),
            method: :delete,
            data: { confirm: 'Are you sure?' } %></td>
  </tr>

  <% end %>
</table>

<br /><br />
<%= link_to "Enregistre-toi !", new_corsair_path, class: "btn btn-lg btn-primary" %>
